<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cldrjs" version="0.5.0" targetFramework="net452" />
  <package id="DevExtreme.Web" version="17.2.3" targetFramework="net452" />
  <package id="jQuery" version="3.2.1" targetFramework="net452" />
  <package id="jquery-globalize" version="1.3" targetFramework="net452" />
  <package id="JSZip" version="3.1.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net452" />
</packages>