<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="aspnet:MaxJsonDeserializerMembers" value="10000"/>

  <add key="ProjectOnlineUrl" value="https://domain.sharepoint.com/sites/pwa/" />
  <add key="ProjectOnlineUserName" value="user@company.com" />
  <add key="ProjectOnlinePassword" value="password" />
  <add key="IsProjectOnline" value="True" />
  <add key="PublishMax" value="100" />
  <add key="PublishAssignmentsMax" value="30" />
  <add key="ProjectsPerIteration" value="5" />

  <!--StagingRecordLifeTime in hours-->
  <add key="StagingRecordLifeTime" value="24" />

  <add key="TimerIntervalMinutesJira" value="5" />
  <add key="TimerIntervalMinutesPT" value="2" />
  <add key="IsWebhooksEnabled" value="true" />
  <add key="IsDebugMode" value="true" />
</appSettings>
