<connectionStrings>
  <add name="ProjectOnlineSystemConnectorEntities" connectionString="metadata=res://*/ProjectOnlineSystemConnectorDataViews.csdl|res://*/ProjectOnlineSystemConnectorDataViews.ssdl|res://*/ProjectOnlineSystemConnectorDataViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ServerName;initial catalog=ProjectOnlineSystemConnector;User ID=userID;Password=password;persist security info=False;packet size=4096&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>